body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}

.news_items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

.card{
    border-radius: 15px;
    border-top: 5px solid lightgreen;
    margin: 5px 5px 20px 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}